<?xml version='1.0' encoding='utf-8'?>

<Context docBase="/home/apps/a/so.war" 
		 sessionCookieName="S_JSESSIONID"
		 path=""  
		 debug="0"  
		 crossContext="true" 
		 sessionCookiePath="/" 
		 sessionCookieDomain=".co188.com" 
		 privileged="true" >
		 
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    
	<Valve className="com.orangefunction.tomcat.redissessions.RedisSessionHandlerValve" />
        
   	<Manager className="com.orangefunction.tomcat.redissessions.RedisSessionManager"  
      	host="172.16.97.17"   
       	port="6379"   
       	database="2"
       	sessionIdPrefix="s:"
   	 />
</Context>
